<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TheMoviePlay: reset password</title>

    <style>
        * {
            color: #444;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
    </style>

</head>
<body>

    <h1 style="text-align: center;">RESET PASSWORD</h1>

    <% if (locals.errorMsg) {%>
        <h4 style="text-align: center; margin: 30px 0; color: red;"><%= errorMsg %></h4>
    <%}%>

    <% if (locals.successMsg) { %>
        <div style="display: flex; flex-direction: column; align-items: center;">
            <p><%= successMsg %></p>
            <a href="https://themovieplay.com/">go back</a>
        </div>
    <%} else {%>
        <form
            id="reset-form"
            action="/"
            method="POST"
            style="display: flex; flex-direction: column; align-items: center;"
        >
            <label>password</label>
            <input type="text" name="password">
            <br/>
            <br/>
            <label>confirm your password</label>
            <input type="text" name="password2">
            <br/>
            <br/>
            <button>submit your new password</button>
        </form>
   <%}%>

    <script>
        const url = window.location
        const token = url.search.split('=')[1] || url.pathname.split('/')[4]
        const apiPath = `api/accounts/reset-password/${token}`
        const resetUrl = `${url.origin}/${apiPath}`
        document.getElementById('reset-form').action = resetUrl
    </script>
</body>
</html>