
<nav class="navbar navbar-expand-md navbar-dark bg-success">
    <div class="container-fluid">
        <a class="navbar-brand" href="#" style="font-weight: 900; font-size: xx-large;">THE MOVIE PLAY</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav" style="position: absolute; z-index: 0;">
            <a style="margin: auto; opacity: 0; transition-property: opacity; transition-duration: 1s; font-size: 20px;" class="linx nav-link" aria-current="page" href="../homepage/base.html">Home</a>
            <a style="margin: auto; opacity: 0; transition-property: opacity; transition-duration: 1s; font-size: 20px;" class="linx nav-link" href="../Synopsis/index.html">Movies</a>
            <a style="margin: auto; opacity: 0; transition-property: opacity; transition-duration: 1s; font-size: 20px;" class="linx nav-link" href="#">Bet Battle</a>
            <a style="margin: auto; opacity: 0; transition-property: opacity; transition-duration: 1s; font-size: 20px;" class="linx nav-link" href="../Exchange Bet/index.html">Participate in Bets</a>
            <a style="margin: auto; opacity: 0; transition-property: opacity; transition-duration: 1s; font-size: 20px;" class="linx nav-link" href="../Bet Arena/index.html">Bet Arena</a>
            <a style="margin: auto; opacity: 0; transition-property: opacity; transition-duration: 1s; font-size: 20px;" class="linx nav-link active" href="#">Profile</a>
            <a style="margin: auto; opacity: 0; transition-property: opacity; transition-duration: 1s; font-size: 20px;" class="linx nav-link" href="#">About Us</a>
            <a id="collapseLinks" class="nav-link justify-self-right" href="#">
            <span><img style="width: 40px;" src="/icons/icon.jpg"></span>
            </a>
        </div>
        <div class="navbar-nav" style="position: relative; z-index: 5; margin-right: 60px;">
            <a id="mainLink" style="margin: auto; opacity: 1; transition-property: opacity; transition-duration: 0s; font-size: 20px;" class="nav-link active" aria-current="page" href="#">Profile</a>
        </div>
        </div>
    </div>
</nav>